<footer>
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <h5 class="mt-3 mb-4">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://discord.com/invite/MzbsFPe">Discord server</a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="mt-3 mb-4">Announcements</h5>
                <ul class="list-unstyled">

                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="mt-3 mb-4">Newspaper</h5>
                <ul class="list-unstyled">
                    
                </ul>
            </div>
        </div>
    </div>
</footer>